@import url('https://fonts.googleapis.com/css2?family=Anton&family=Righteous&family=Sedgwick+Ave+Display&family=Work+Sans:wght@100;300;400;600;800&display=swap');

body {
    font-family: 'Sedgwick Ave Display', cursive;
    /* background-color: #2B3499; */
    background-image: url('./assets/Psyduck\ family\ reunion.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#Seleccionar-Mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: gold;
    font-size: 60px;
}   

.subtitulo{
    color: gold;
    font-size: 35px;
}

.tarjetas, .tarjetas-ataque{ 
    display: flex;
    gap: 10px;   
}
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background-color: #FF6C22;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold ;
}
.tarjeta-de-mokepon img{
    width: 85px;
}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: #FFD099;
    border: 2px solid gold;
    color:#FF6C22;
    cursor: pointer;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 30px;
}

input{
    display: none;
}
input:checked + label{
    
    background-color: #2B3499;
}
#Seleccionar-Ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-de-ataque{
    background-color: #FF6C22;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    font-family: 'Sedgwick Ave Display', cursive;
}
#mensajes{
    width: 280px;
    background:#FFD099 ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#boton-reiniciar{
    border: transparent;
    color: #FF6C22;
    font-family: 'Sedgwick Ave Display', cursive;
}
.ataque{
    display: grid;
    grid-template-columns: 100px 100px;
    font-size: 25px; 
    font-weight: bold; 
    color:#FF6C22 ;
    -webkit-text-stroke: 1px #000;
    grid-column-gap: 100px;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0%;
}

.ataque-jugador, .ataque-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 15px; /* Esquinas más redondeadas */
    background: #2B3499; /* Fondo oscuro */
    border: 2px solid gold; /* Borde claro */
    color: gold; /* Texto claro */
    cursor: pointer;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 10px 0;
    font-size: 14px; /* Tamaño de fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: background 0.3s, color 0.3s; /* Efecto de transición */
}

#ver-mapa button:hover {
    background: #FFD099; /* Cambio de color al pasar el ratón */
    color: #2B3499; /* Cambio de color al pasar el ratón */
}



@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataque{
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}